# See https://help.github.com/articles/ignoring-files/

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Build and compiled output
/build
/dist
/out/
/.next/
*.tsbuildinfo

# Testing
/coverage
/.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
# Never commit .env files containing secrets.
.env*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS-specific files
.DS_Store

# Temporary files and runtime data
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Miscellaneous
*.pem
next-env.d.ts

# Vercel
.vercel

# Node.js diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
